#Rule for executing commands when an external screen is plugged in.
KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/rail/.Xauthority", RUN+="/home/rail/bin/toggle_ext_monitor"

