# -*- perl -*-
#
# $Id: lbdb_ldap.rc,v 1.10 2007-05-28 09:04:49 roland Exp $
#
# The format of each entry of the ldap server database is the following:
# LDAP_NICKNAME => ['LDAP_SERVER',
#                   'LDAP_SEARCH_BASE',
#                   'LDAP_SEARCH_FIELDS',
#                   'LDAP_EXPECTED_ANSWERS',
#                   'LDAP_RESULT_EMAIL',
#                   'LDAP_RESULT_REALNAME',
#                   'LDAP_RESULT_COMMENT',
#                   'IGNORANT' (optional),
#                   'LDAP_BIND_DN' (optional),
#                   'LDAP_BIND_PASSWORD (optional)],
# (IGNORANT is an optional argument. If you set it to 1, mutt_ldap_query
# uses wildcards *foo* for searching).
# (LDAP_BIND_DN and LDAP_BIND_PASSWORD are optional arguments. Leave them
# out or empty to use and anonymous bind)
# A practical illustrating example being:
#  debian    => ['db.debian.org', 'ou=users,dc=debian,dc=org',
#                   'uid cn sn ircnick', 'uid cn sn ircnick',
#                   '${uid}@debian.org', '${cn} ${sn}', '${ircnick}'],
# the output of the query will be then:
#   ${uid}@debian.org\t${cn} ${sn}\t${ircnick} (i.e.: email name comment)
use Net::Netrc;

$match = Net::Netrc->lookup('mail.mozilla.com');
$login = $match->login();
$password = $match->password();

$ldap_server = 'ldaps://ldap.mozilla.org:636';
$search_base = 'dc=mozilla';
$ldap_search_fields    = 'givenname sn cn mail';
$ldap_expected_answers = 'givenname sn cn mail mobile';
$ldap_result_email     = '${mail}';
$ldap_result_realname  = '${givenname} ${sn}';
$ldap_result_comment = '${mobile}';
$ignorant = 1;
$ldap_bind_dn = "mail=${login},o=com,dc=mozilla";
$ldap_bind_password = $password;
# warning this database will erase default script builtin
%ldap_server_db = (
  'mozilla' => [
        $ldap_server,
        $search_base,
        $ldap_search_fields,
        $ldap_expected_answers,
        $ldap_result_email,
        $ldap_result_realname,
        $ldap_result_comment,
        $ignorant,
        $ldap_bind_dn,
        $ldap_bind_password
    ]
);

1;
